# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.onnx
*.pth
*.weights
*.engine

backup/
build/
gesturevideo/
CMakeFiles/
gesturelib/CMakeFiles/
CMakeLists.txt.user
CMakeCache.txt
*.cmake
Makefile
*.user
log.txt
reboot.txt
temp.dat
gesture
*.cbp
*.dat
.vs/
*.log
.vscode/
libs_aarch64/
libs_x86_64/
bin_x86_64/data/
*.db
*.mp4
*.h264

